<div id="{{name}}-form">
  <h1> {{message}} </h1>
  <input id="{{name}}-email-input" class="email-input" type="text">
  <input id="{{name}}-password-input" class="password-input" type="password">
  <input id="{{name}}-password-match-input" class="password-match-input" type="password">

  <input id="{{name}}-submit" class="submit" type="button" value="{{message}}">
</div>
